.song {
  height: 3rem;
  border-bottom: 1px solid rgba(167, 121, 201, .5);
}

.song:hover td {
  background: rgba(167, 121, 201, .2);
}

.song-play-pause {
  cursor: pointer;
  /*display: none;*/
}

.song:hover .song-play-pause,
.song.playing .song-play-pause {
  /*display: block;*/
}

.song.playing .icon-eq {
  background: url(./images/eqMdBlueLoop.gif) no-repeat 0 0 / cover;
  background-size: 23px 23px;
  display: block;
  height: 17px;
  margin-left: 15px;
}

.song.playing .ion-pause::before {
  display: none;
}

.song.playing:hover .ion-pause {
  background: none;
}

.song.playing:hover .ion-pause::before {
  display: block;
}

.song-number:hover .ion-pause,
.song-number:hover .ion-play {
  font-size: 150%;
  transition: font-size 200ms ease-in-out;
}

.song:hover .song-number > span ,
.song.playing .song-number > span {
  display: none;
}

.song-number {
  min-width: 46px;
  /*position: relative;*/
  text-align: center;
  width: 6%;
}

.song-title {
  text-align: left;
  width: 84%;
}

.song-duration {
  padding-right: 5px;
  width: 5%;
}


@media (max-width: 640px) and (min-width: 320px) {

}
